%li.media.message
  = message.user.name
  .media-body
    %h4.media-heading
      = link_to message.user.name, target: '_blank'
      says
      %small.text-muted
        [at #{message.created_at.strftime('%-d %B %Y, %H:%M:%S')}]
    %p= message.body
