html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

hr {
  border-color: darken($gray-lighter, 5%);
}

a, button {
  @include transition(background 0.2s ease-in-out,
                      border 0.2s ease-in-out,
                      color 0.2s ease-in-out);
}

::-moz-selection {
  background-color: $yellow;
  color: $black;
}

::selection {
  background-color: $yellow;
  color: $black;
}

#nprogress {
  z-index: 10;

  .spinner {
    top: auto;
    bottom: 15px;
  }
}
