%header
  .container
    .row
      .col-lg-12
        %img.img-responsive{:alt => "", :src => "/assets/logo-light.png"}
        .intro-text
          %span.name= t("home.header.title")
          %hr.star-light
          %span.skills= t("home.header.project")
