.user-avatar {
  margin-bottom: 4px;
  border-width: 3px;
  border-style: solid;
}

.user-entrepreneur-avatar {
  border-color: blue;
}

.user-designer-avatar {
  border-color: green;
}

.user-developper-avatar {
  border-color: red;
}

.user-profile {
}

.user-details {
  margin: 25px;
}

