= render "user/user_avatar", user: user
= render "user/user_details", user: user
.row
  = link_to icon_and_text("fa fa-close", t("search.show.next")), user_deny_profile_url(user, user: { profession: user.profession }), remote: true, method: :put, class: 'btn btn-lg btn-danger text-center'
  = link_to icon_and_text("fa fa-check", t("search.show.contact")), user_notify_url(user, user: { profession: user.profession }), remote: true, method: :put, class: 'btn btn-lg btn-success text-center'
