%h1= t("conversation.index.title")
%hr/
- @conversations.in_groups_of(4, false) do |conversations|
  .row
    - conversations.each do |conversation|
      - conversation.set_recipient(current_user)
      = link_to user_conversation_path(conversation.user, conversation) do
        .col-md-3
          = render ("user/user_avatar"), user: conversation.to
