%h1= t("conversation.show.title")
%hr

= render ("user/user_avatar"), user: @conversation.to
= render ("conversation"), conversation: @conversation

:javascript
  $(function() {
    faye.subscribe('/messages/#{@conversation.id}', function(payload) {
      $('.js-messages').append(payload.message);
      $('#new_comment').submit(function() {
        return $(this).find(".btn[type='submit']").prop('disabled', true);
      });
    });
  });
