@charset "UTF-8";

@import "shared";

// Layout
// -------------------------

.centered {
  position:fixed;
  z-index: 100;
  top:50%;
  left:50%;
  width:32px;
  height:32px;
}

$app-nav-height: 115px;

.app-nav {
  height: $app-nav-height;
  padding-top: 15px;
  background: $navbar-default-bg;
  border-bottom: 1px solid $gray-lighter;

  > .navbar {
    @include container-fixed();
    max-width: $container-lg;
    border: 0;
  }

  .navbar-collapse {
    border: 0;
  }
}

.app-nav-flush {
  height: $app-nav-height - 30px;
}

.app-nav-user {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}

.app-main {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  border: 1px solid #d8dcea;
  overflow: hidden;
}

.app-container {
  @include container-fixed();
  max-width: $container-lg;
  margin-top: -35px;
}

.app-container-small {
  margin-top: 30px;
  max-width: $container-sm;
}

.app-flash {
  position: relative;

  .alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: $font-size-base + 1;
  }
}

.app-content {
  padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;
}

.app-footer {
  @include container-fixed();
  max-width: $container-lg;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 0;
  padding-right: 0;
  color: #9b9ba7;
}

