:javascript
  $(function() {
    faye.subscribe("/notifications/#{current_user.id}", function(payload) {
      $("#notification").children(".js-data").text(payload);
      $("#notification").fadeIn("slow");
      $(".dismiss").click(function(){
        $("#notification").fadeOut("slow");
      });
    });
  });
#notification{style: "display: none;"}
  %span.js-data
  %span.dismiss
    %a{title: "dismiss this notification"} X
