!!!
%html
  %head= render "layouts/head", assets_name: "public"
  %body#page-top{"data-env" => Rails.env}
    = render "layouts/analytics" if Rails.env == "production"
    = render "layouts/public_nav"
    = yield
